.canvas{
    width: 500px;
    height: 500px;
    border: solid 2px green;
    padding-left: 0;
    padding-right: 0;
    margin-right: 100px;
    margin-left: auto;
    float: right;
}

#tableP{
    display: inline-block;
    width: 50%;

}

#tableP td:hover{
    background-color: blue;
    color: white;
}

#tableOp{
    float: left;
    width: 50%;
}

#tableOp td:hover{
    background-color: blue;
    color: white;
}

table{
    border: solid 2px black;
    
}

table td{
    width:5%;
    height: 5%;
    text-align: center;
    border: solid 2px black;
}